@font-face {
    font-family: "FSBenjamin-Medium";
    src: url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.eot");
    src: url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f26ce0d57c1986db67955694770d4ea9.svg#FSBenjamin-Medium")format("svg");
}
@font-face {
    font-family: "FSBenjamin-Regular";
    src: url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.eot");
    src: url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dccef936d9a262d29823fe43dcbaa0f2.svg#FSBenjamin-Regular")format("svg");
}
@keyframes smooth-fade {   
    0% {
        transform: translateY(100px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

html {
    cursor: url('images/Undead.cur'), auto;
}

body, body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    display: block;
}

body {
    background-image: url("images/dota2-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
h1, h2, h3, h4 {
    font-family: 'FSBenjamin-Medium';
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.2rem;
}

/* Sections */
#choose-hero-section {
    display: block;
}
#content-section {
    display: none;
}

/* Document Styles */
#body-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    opacity: 50%;
}

header {
    width: 100vw;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1em 3em;
    background-image: url("images/dota2-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    #header-overlay {
        width: 100vw;
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        opacity: 50%;
    }
    #logo-container {
        display: flex;
        justify-content: left;
        cursor: pointer;
        cursor: url('images/Undead\ Ask.cur'), auto;

    }
    a {
        text-decoration: none; 
        color: inherit; 
      }


    #subsection-container {
        margin-left: 37px;
    }
    #section-label {
        position: relative;
        top: 80px;
    }
    img[src='images/dota2-logo.png'] {
        height: 64px;
        aspect-ratio: 1/1;
        margin-right: 5px;
    }
    #search-bar{
        width: 40ch;
        padding: 0.5em 1em;
        border-radius: 25px;
        font-size: 1.1em;
        font-family: 'FSBenjamin-Regular';
        cursor: url('images/Undead\ Ask.cur'), auto;

    }    
}
#section-label {
    position: fixed;
    top: 80px;
    z-index: 2;
    width: 100%;
    text-align: center;
}
#filter-navigation {
    z-index: 4;
    width: 200px;
    position: fixed;
    left: 5em;
    top: 15em;
    .filter-option {
        width: fit-content;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px 0px;
        margin-bottom: 10px;
        filter: brightness(60%);
        cursor: pointer;
    }  
    .selected, .filter-option:hover {
        filter: none;
    }
    .filter-option:hover, .filter-option *:hover {
        cursor: url('images/Undead\ Ask.cur'), auto;
    }
    
    .filter-option img {
        height: 34px;    
    }
    .filter-option img[src='images/all-logo.png']{
        height: 34px;
        padding: 5.5px 5.5px;
        margin: 0px 5px;
        aspect-ratio: 1/1;
    }
}

#hero-selection-container {
    position: relative;
    grid-template-columns: 3fr;
    column-gap: 30px;
    padding-left: 27em;
    padding-top: 2em;
    padding-bottom: 5rem;
    padding-right: 3em; /* 28em; */
}
#choose-hero-section {
    padding-top: 12em;   
}
#hero-selected {
    background-color: rgba(0, 0, 0, 0.26);
    display: none;
    position: fixed;
    right: 0;
    top: 15em;
    width: 23em;
    height: 800px;
    padding: 1em;
    margin-right: 3em;
}

#hero-gallery {
    animation: smooth-fade 1.7s ease 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    figure {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        aspect-ratio: 16/9;
        border-radius: 5px;
        margin: 10px;
        filter: brightness(60%); 
        cursor: pointer;
        font-family: 'FSBenjamin-Medium';
        font-size: 1.5rem;
        padding: 0.2em;
        transition: transform 0.3s;
        text-shadow:
        0.04em 0 rgb(41, 41, 41),
        0 0.04em  rgb(41, 41, 41),
        -0.04em 0  rgb(41, 41, 41),
        0 -0.04em  rgb(41, 41, 41);
    }
    figure:hover {
        filter: brightness(100%);
        transform: scale(1.1);
    }
    figure:hover, figure *:hover {
        cursor: url('images/Undead\ Ask.cur'), auto;
    }
}

/* Hero Selection Styles */
#close-button {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 48px;
    aspect-ratio: 1/1;
    cursor: url('images/Undead\ Ask.cur'), auto;
}

#content-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 1.2; 
}

#hero-name {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;

}

#hero-primary-attr {
    font-size: 2rem;
    margin-bottom: 0.1em;
    color: #9e9e9e;
}

#attack-type-text {
    font-weight: bold;
    color: #aaa; 
    font-style: italic;
}

#hero-attack-type {
    font-size: 1.2rem;
    color: #ffffff;
}

#roles-text {
    color: #aaa;
    font-style: italic;
}

#hero-roles {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#hero-image {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 2em;
    display: block; 
    
}

#attack-type-image, #primary-attr-image {
    width:30px;     
    aspect-ratio: 1/1;
    margin-right: 0.5em;
}

#attack-type, #primary-attr  {
    display: flex;
    align-items: center;
}


